<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mail_template.title %>
</p>

<p>
  <b>Body:</b>
  <%= @mail_template.body %>
</p>

<p>
  <b>Mailname:</b>
  <%= @mail_template.mailName %>
</p>


<%= link_to 'Edit', edit_mail_template_path(@mail_template) %> |
<%= link_to 'Back', mail_templates_path %>
